@import '../../sourses/styles/variebles.scss';

.container {
  width: 100%;
  min-height: 100vh;
  padding: 24px;
  .wripper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }

  .button {
    display: block;
    width: 100%;
    max-width: 145px;
    height: 56px;

    margin: 0 auto;
    margin-top: 24px;
    padding: 16px 32px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    border: 1px solid rgba(71, 84, 103, 0.2);
    border-radius: 30px;
    color: $textColor;
    background-color: white;
    outline: transparent;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 100px 64px;

    .wripper {
      flex-wrap: nowrap;
    }
  }
}
