@import '../../sourses/styles/variebles.scss';
.container {
  flex: 1;
  min-height: 100vh;
  padding: 24px;
  padding: 24px;

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    color: $textColor;

    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 100px 64px;
  }
}
