@import '../../sourses/styles/variebles.scss';
.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  margin-top: 24px;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 12px 18px;
    border-radius: 20px;
    background-color: $brandColorLightGrey;

    .categoryIcon {
      width: 20px;
      height: 20px;
      fill: $textColor;
      stroke: $textColor;
    }

    .text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;
      text-transform: capitalize;
      color: $textColor;
    }
  }
}
